body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #660303;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    width: 100%;
}

button:disabled {
    background-color: #756666;
}

@media (min-width: 600px) {
    .container {
        width: 80%;
        max-width: 600px;
    }

    button {
        width: auto;
    }
}
